# Base de datos ms-auth
DB_HOST=postgres-db
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=adminpassword
DB_DATABASE=agm_auth_db

# JWT
JWT_SECRET=AGM-AST
JWT_EXPIRATION=3600

# gRPC
GRPC_PORT=5000

# REST
REST_PORT=3001
