# Base de datos ms-alumnos
DB_HOST=postgres-db
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=adminpassword
DB_DATABASE=agm_alumnos_db

# gRPC - Auth Service
AUTH_GRPC_HOST=ms-auth
AUTH_GRPC_PORT=5000

# gRPC
GRPC_PORT=5001

# REST
REST_PORT=3002
